name: Publish to PyPI

on:
  release:
    types: [published]

  workflow_dispatch:

permissions:
  contents: read

jobs:
  release:
    runs-on: ubuntu-latest

    container:
      image: python:3.13-trixie

    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Run custom shell code
        env:
          PYPI_API_TOKEN: ${{ secrets.PYPI_API_TOKEN }}
        run: |
          .github/scripts/publish-pypi
